@using BAPA_LMS.Models.CourseViewModels
@model CourseListViewModel

@helper SortHeader(string fieldname, string labelname)
{
    @Html.Raw((Model.SortParam == fieldname ? "<span class=\"glyphicon glyphicon-triangle-bottom\"></span>&nbsp;" : ""))
    @Html.Raw((Model.SortParam == fieldname + "_desc" ? "<span class=\"glyphicon glyphicon-triangle-top\"></span>&nbsp;" : ""))
    @Ajax.ActionLink(labelname, "Index",
        new { filter = Model.Filter, startrange = Model.StartRange, endrange = Model.EndRange, sortparam = fieldname + (Model.SortParam == fieldname ? "_desc" : "") },
        new AjaxOptions
        {
            HttpMethod = "get",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "courseList"
        })
}

@if (Model.Offset == 0)
{
    @:<div id="courseList">
        <p>Antal träffar: @Model.Count</p>
        <input type="hidden" name="sortparam" value="@Model.SortParam" />
        @:<table class="table table-striped table-responsive">
            <tr>
                <th>
                    @SortHeader("Name", "Namn")
                </th>
                <th>
                    @SortHeader("StartDate", "Startdatum")
                </th>
                <th>
                </th>
            </tr>
}
@foreach (var item in Model.Courses)
{
    <tr>
        <td>
            <a href="@Url.Action("CourseEdit", "Teacher", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Name)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)

        </td>
        <td>
            @Html.ActionLink("Inlämningsuppgifter", "ActivityUploads", new { id = item.Id })
        </td>
    </tr>
}
@if (Model.Courses.Length == CourseListViewModel.PageSize)
{
    <tr id="moreData">
        <td colspan="3">
            @Ajax.ActionLink("Ladda fler kurser", "Index",
                new { filter = Model.Filter, startrange = Model.StartRange, endrange = Model.EndRange, sortparam = Model.SortParam, offset = Model.Offset + CourseListViewModel.PageSize },
                new AjaxOptions
                {
                    HttpMethod = "get",
                    InsertionMode = InsertionMode.ReplaceWith,
                    UpdateTargetId = "moreData"
                },
                new
                {
                    @class = "btn btn-primary"
                })
        </td>
    </tr>
}
@if (Model.Offset == 0)
{
        @:</table>
    @:</div>
}