@model BAPA_LMS.Models.ModuleViewModels.ModuleDetailViewModel

@{
    ViewBag.Title = "AktivitetsInfo";
}

<h2>Översikt för Modul</h2>



<div class="">
    <div class="row">

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.DisplayFor(model => model.Name)</h3>
                </div>
                <div class="panel-body">
                    @Html.DisplayFor(model => model.Description)<br />
                    <hr />
                   <strong>@Html.DisplayNameFor(model => model.StartDate): </strong> 
                    @Html.DisplayFor(model => model.StartDate)<br />

                </div>
          </div>


        </div>

        <div class="col-md-4 no-padding">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Dokument för @Html.DisplayFor(model => model.Name)</h3>
                </div>
                <div class="panel-body">
                    @if (Model.Files.Count() > 0)
                    {
                        foreach (var item in Model.Files)
                        {
                            @Html.DisplayFor(modelItem => item.Name) @Html.ActionLink("Ladda ner", "DownloadFile", "UploadDocument", new { id = item.Id }, null)
                        }
                    }
                    else
                    {
                        <p>Inga uppladdade dokument för tillfället.</p>
                    }

                </div>
            </div>
        </div>

        <div class="panel-group col-md-4" id="accordion">
            @foreach (var item in Model.Activities)
            {

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse@(item.Id)" href="#collapse@(item.Id)" )>@Html.DisplayFor(model => item.Name)<span> </span>@Html.DisplayFor(model => item.Type.Name)</a>
                        </h4>
                    </div>
                    <div id="collapse@(item.Id)" class="panel-collapse collapse">
                        <div class="panel-body">
                            @Html.DisplayFor(model => item.Description)
                            <br />
                            <hr />
                            <strong>Starttid:</strong>
                            @Html.DisplayFor(model => item.StartTime)
                            <br />   
                            <strong>Sluttid:</strong>
                            @Html.DisplayFor(model => item.EndTime)
                            <br /><hr />
                            @foreach (var file in item.Files)
                            {
                                if (file.Activity.Id == item.Id && file.CourseName == null)
                                {
                                    <strong>Dokument</strong>
                                    @Html.DisplayFor(model => file.Name) @Html.ActionLink(" ", "DownloadFile", "UploadDocument", new { id = file.Id }, new { @class = "glyphicon glyphicon-floppy-save" })<br/>
                                }
                            }
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>



</div>