@model IEnumerable<BAPA_LMS.Models.ActivityViewModels.ActivityDetailViewModel>

@{
    ViewBag.Title = "AktivitetsInfo";
}

<h2>Översikt för Modul</h2>



    <div class="container">


   
        <div class="panel-group" id="accordion">
            @foreach (var item in Model)
            {

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse@(item.Id)" href="#collapse@(item.Id)" )>@Html.DisplayFor(model => item.Name)<span> </span>@Html.DisplayFor(model => item.Type.Name)</a>
                        </h4>
                    </div>
                    <div id="collapse@(item.Id)" class="panel-collapse collapse">
                        <div class="panel-body">
                            @Html.DisplayFor(model => item.Description)
                            <br />
                            @Html.DisplayFor(model => item.StartDate)
                            <br />
                            @Html.DisplayFor(model => item.StartTime)

                        </div>
                    </div>
                </div>

            }
        </div>
            

</div>

           




