@model BAPA_LMS.Models.CourseViewModels.CourseDetailViewModel

@{
    ViewBag.Title = "KursInfo";
}

<h2>Kursinformation</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@Html.DisplayFor(model => model.Name)</h3>
    </div>
    <div class="panel-body">
        @Html.DisplayFor(model => model.Description)

    </div>
    <div class="panel-footer">
        @Html.DisplayNameFor(model => model.StartDate): @Html.DisplayFor(model => model.StartDate)<br />        
    </div>
</div>



    <div class="row">
        <div class="panel panel-default col-md-6 no-padding">
            <div class="panel-heading">
                <h4>
                    Moduler för @Html.DisplayFor(model => model.Name)
                </h4>
            </div>
            <table class="table table-fixed">

                @foreach (var item in Model.Modules)
                {
                    <tr>
                        <td class="col-xs-12"><a href="@Url.Action("AktivitetsInfo","Student",new {id=item.Id })">@Html.DisplayFor(modelItem => item.Name)<Span> | </Span>@Html.DisplayFor(modelItem => item.Description)</a></td>
                    </tr>
                }


            </table>
        </div>

        <div class="panel panel-default col-md-6 no-padding ">
            <div class="panel-heading">
                <h4>
                    Klasslista för @Html.DisplayFor(model => model.Name)
                </h4>
            </div>
            <table class="table table-fixed">

                @foreach (var item in Model.Members)
                {
                    <tr>
                        <td class="col-xs-12">@Html.DisplayFor(modelItem => item.FullName) @Html.ActionLink("Ta Bort Student","Delete", new { id = item.Id })</td> 
                    </tr>
                }
            </table>
        </div>
        <div class="panel panel-default col-md-6 no-padding ">
            <div class="panel-heading">
                <h4>
                    Dokument för @Html.DisplayFor(model => model.Name)
                </h4>
            </div>
            <table class="table table-fixed">

                @foreach (var item in Model.Files)
                {
                    <tr>
                        <td class="col-xs-12">@Html.DisplayFor(modelItem => item.Name) @Html.ActionLink("Ladda ner", "DownloadFile","UploadDocument",new { id = item.Id },null)</td>
                    </tr>
                }
            </table>
        </div>

    </div>
