@using BAPA_LMS.Models
@model BAPA_LMS.Models.UploadViewModels.TeacherUploadViewModel

<div id="uploadWindow" style="margin-top:10px;">
   @if (Model.ActivityType == "Inlämningsuppgift")
   {
    <div class="form-group">
        @Html.LabelFor(model => model, "Datumspann (Startdatum - Slutdatum)", htmlAttributes: new { @class = "control-label" })
        <div class="input-daterange input-group " data-provide="datepicker" data-date-start-date="@Model.Module.StartDate" data-date-end-date="@Model.Module.EndDate">
            @Html.EditorFor(model => model.DeadLine, new { htmlAttributes = new { @class = "form-control ", placeholder = "åååå-mm-dd", min = Model.Module.StartDate, max = Model.Module.EndDate } })
            <span class="input-group-addon">till</span>
            @*@Html.EditorFor(model => model.DeadLine, new { htmlAttributes = new { @class = "form-control", placeholder = "åååå-mm-dd", min = Model.Module.StartDate, max = Model.Module.EndDate } })*@
        </div>
        @Html.ValidationMessageFor(model => model.DeadLine, "", new { @class = "text-danger" })      
    </div>
   }




    @using (Html.BeginForm("TeacherUploader", "UploadDocument", FormMethod.Post, new { id = "formUpload", enctype = "multipart/form-data" }))
    {
        @Html.Hidden("result", TempData["alert"], new { id = "uploadResult" })
        <input type="file" name="postedFile" id="inputFile"/>
                <br />
                <input id="btnUpload" class="btn btn-primary" type="submit" value="Ladda upp" disabled/>
                <br />
    }
    


        <table class="table" style="max-width: 500px; margin-top:10px;">
        

            @foreach (var file in Model.Files.Where(f => f.CourseName == null))
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => file.Name)</td>
                    <td>@Html.DisplayFor(modelItem => file.Member.FullName)</td>
                    <td>@Html.ActionLink("Ta bort", "Delete", "UploadDocument", new { id = file.Id.Encode() }, new { data_toggle = "modal", data_target = "#modalContainer" })</td>
                </tr>
            }

        </table>
    </div>

<script>
    teacher.initUpload();
</script>