@using BAPA_LMS.Models.DB;
@model Tuple<List<BAPA_LMS.Models.ActivityViewModels.ActivitySubmitViewModel>,ApplicationUser, List<FileDocument>>

@{
    ViewBag.Title = "ActivityUpload";
}
<h2>ActivityUpload</h2>

<div class="panel-group" id="accordion">
    @foreach (var item in Model.Item1)
            {

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse@(item.Id)" href="#collapse@(item.Id)" )>@Html.DisplayFor(model => item.Name)<span> </span>@Html.DisplayFor(model => item.Type.Name)</a>
                </h4>
            </div>
            <div id="collapse@(item.Id)" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.DisplayFor(model => item.Name)
                    <br />
                    @Html.DisplayFor(model => item.EndDate)
                    <br />
                    @Html.DisplayFor(model => item.EndTime)
                    <br />
                    @if(Model.Item3.Exists(e => e.Member.Id == Model.Item2.Id) && Model.Item3.Exists(f => f.ActivityId == item.Id))
                    {
                      <strong>Uppgiften är redan inlämnad.</strong>
                    }
                    else
                    {
                        <br />
                        @Html.ActionLink("Ladda upp dokument", "ActivityUploader", new { id = item.Id })
                    }
                   
                </div>
            </div>
        </div>

    }
</div>
