@model BAPA_LMS.Models.CourseViewModels.CourseEditViewModel

<h4>Skapa ny kurs</h4>

@using (Ajax.BeginForm(null, null,
    new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "editarea"
    }, new { id = "formEdit" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("result", TempData["alert"], new { id = "formResult" })
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })

        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
        <div class="input-group date" data-provide="datepicker" data-date-start-date="0d">
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control ", placeholder = "åååå-mm-dd", min = DateTime.Today.ToString("yyyy-MM-dd") } })
            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        </div>
        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Skapa kurs" class="btn btn-primary" />
    </div>
}
<script>
    teacher.initForm();
</script>