<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Lexicon</title>
    @* Include correct bundle depending on the views role *@
    @Styles.Render("~/Content/lms" + ViewBag.Style)

</head>
<body>
    <div class="alert alert-success">
        <div id="alertbox" class="container body-content">@TempData["alert"]</div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BAPA LMS", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Hem", "Index", "Teacher")</li>
                        <li>@Html.ActionLink("Lägg till lärare", "RegisterTeacher")</li> 
                        <li>@Html.ActionLink("Lägg till kurs", "courses", null, new { @class = "create-Action", data_controller = "courses" })</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BAPAS Lexicon</p>
        </footer>
    </div>

    @* Include correct bundle depending on the views role *@
    @Scripts.Render("~/bundles/lms" + ViewBag.Style)
    @RenderSection("scripts", required: false)
</body>
</html>
